<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="簡単なおみくじです。">
    <meta name="keywords" content="おみくじ">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>