<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>脱出ゲーム</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="簡単な脱出ゲームです。">
    <meta name="keywords" content="脱出ゲーム 脱出">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello!</h1>
</body>
</html>