<%- include('partials/config'); %>
<%- include('partials/header'); %>
<script type="text/javascript" src="/js/global.js" ></script>
<div id="omikuji_result"></div>
<script type="text/javascript" src="/js/result.js"></script>
<%- include('partials/footer'); %>